.p-button.p-button-success:enabled:hover,
.p-button:enabled:hover {
  background: #e5d8d2;
  color: #ffffff;
  border-color: transparent;
}
.p-button {
  color: #ffffff;
  background: #cca19f;
  border: 1px solid #e9e0dc;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}

.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.1rem transparent;
  border-color: #b4b4b4;
}

.p-button.p-button-success:enabled:focus,
.p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px transparent, 0 1px 2px 0 rgb(0, 0, 0);
}

.p-paginator .p-paginator-current {
  color: #cca19f;
  font-size: 14px;
}

.p-button.p-button-outlined,
.p-button.p-button-outlined:enabled:hover {
  background-color: transparent;
  color: #788aac;
}
.p-link:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}
.p-inputtext {
  color: #787878;
}
.p-component {
  font-size: 13px;
  font-family: unset;
}

.p-dropdown:not(.p-disabled):hover {
  border-color: #cca19f;
}
.p-dropdown:not(.p-disabled).p-focus
  .p-dialog
  .p-dialog-header
  .p-dialog-header-icon:focus {
  border-color: #e5d8d2db;
  box-shadow: 0 0 0 0.1rem transparent;
}
.p-toolbar {
  background: transparent;
  border: none;
}
.p-paginator {
  gap: 1rem;
}
.title {
  color: black;
  font-size: 18px;
  margin-bottom: 17px;
  padding: 0 8px;
}
.mb-4 {
  margin-bottom: 0.7rem !important;
  padding: 0 10px;
}

.p-datatable {
  margin: 0 2.5rem;
}
.pi {
  font-size: 0.9rem;
}
.p-dialog .p-dialog-header {
  color: #54678b;
}
.p-button.p-button-success {
  background-color: #cca19f;
  border: 1px solid transparent;
  height: 2rem;
}
.p-dialog .p-dialog-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.p-datatable .p-datatable-thead > tr > th {
  background: transparent;
}
.p-paginator {
  padding: 0px;
}
.p-dialog .p-dialog-content {
  background: #ffffff;
  color: #495057;
  padding: 0 1.5rem 2rem 2.5rem;
}
.p-paginator .p-dropdown {
  margin-left: 0.5rem;
  height: 1.8rem;
  width: 3.7rem;
}

.p-paginator .p-dropdown .p-dropdown-label {
  padding: 3px 6px;
  font-size: 0.9rem;
}
.p-icon {
  width: 0.8rem;
  height: 1rem;
}
.p-dropdown .p-dropdown-trigger {
  width: 1.7rem;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 2rem;
  height: 2rem;
  margin: 0.14rem;
}
.p-dropdown:not(.disabled).p-focus {
  box-shadow: 0 0 0 0 transparent;
}
.inputSearch {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid#b4b4b4 !important;
  width: 78rem;
}
.addButton {
  border-radius: 0px !important;
  height: 40px !important;
}
.btnAction {
  border: none !important;
}
.p-error {
  margin-left: 5px;
}
